# Example 1: Illinois (blocks), 2018 Districts, locality = County

taken from Github ReadMe -- works!

In [9]:
from locality_splitting import block_equivalency_file as bef
year = 2018
plan_type = 'cd'
df = bef.get_block_equivalency_file(year, plan_type)
df.head()

In [11]:
fips_code = '17'
df_pop = bef.merge_state_census_block_pops(fips_code, df)
df_pop.head(10)

           BLOCKID    pop cd_2018
0  170010001001000    0.0      18
1  170010001001001  151.0      18
2  170010001001002    0.0      18
3  170010001001003    5.0      18
4  170010001001004    0.0      18
5  170010001001005    0.0      18
6  170010001001006    0.0      18
7  170010001001007    0.0      18
8  170010001001008    0.0      18
9  170010001001009   23.0      18

In [48]:
df_pop['county'] = df_pop['BLOCKID'].str[2:5]
df_pop.head(200)

             BLOCKID    pop cd_2018 county      GEOID20
0    170010001001000    0.0      18    001  17001000100
1    170010001001001  151.0      18    001  17001000100
2    170010001001002    0.0      18    001  17001000100
3    170010001001003    5.0      18    001  17001000100
4    170010001001004    0.0      18    001  17001000100
..               ...    ...     ...    ...          ...
195  170010002011020    0.0      18    001  17001000201
196  170010002011021    0.0      18    001  17001000201
197  170010002011022    0.0      18    001  17001000201
198  170010002011023    0.0      18    001  17001000201
199  170010002011024    0.0      18    001  17001000201

[200 rows x 5 columns]

In [13]:
from locality_splitting import metrics
metrics.calculate_all_metrics(df_pop, 'cd_2018', lclty_col='county')

/Users/laurenc82/opt/anaconda3/lib/python3.7/site-packages/locality_splitting/metrics.py:205: RuntimeWarning: divide by zero encountered in double_scalars
  return 1 / (props ** 2).sum() - 1
/Users/laurenc82/opt/anaconda3/lib/python3.7/site-packages/locality_splitting/metrics.py:177: RuntimeWarning: invalid value encountered in double_scalars
  return total_entropy / total_population
/Users/laurenc82/opt/anaconda3/lib/python3.7/site-packages/locality_splitting/metrics.py:194: RuntimeWarning: invalid value encountered in double_scalars
  return total_entropy / total_population

{'plan': 'cd_2018',
 'splits_all': 18.0,
 'splits_pop': 18.0,
 'intersections_all': 141.0,
 'intersections_pop': 141.0,
 'effective_splits': 27.180675819615598,
 'conditional_entropy': 1.8248203521557131,
 'sqrt_entropy': 2.1270962881702085,
 'split_pairs': 0.570000622092754,
 'splits_pop_sym': 16.5,
 'intersections_pop_sym': 141.0,
 'effective_splits_sym': 15.411800937250483,
 'conditional_entropy_sym': 1.8073193520378679,
 'sqrt_entropy_sym': 2.1913287404098165,
 'split_pairs_sym': 0.5458591625788465}

# Example 2: Illinois (census tracts), 2018 Districts, locality = County

does not work yet :(

In [8]:
import pandas as pd
from locality_splitting import metrics

In [7]:
IL_data = pd.read_csv('il_2020_vtd.csv')
# IL_data.columns
IL_data = IL_data[['GEOID20', 'county', 'vap', 'vap_hisp', 'vap_white', 'vap_black', 'vap_aian', 'vap_asian', 'vap_nhpi', 'vap_other', 'vap_two']]
IL_data.head()

,GEOID20,county,vap,vap_hisp,vap_white,vap_black,vap_aian,vap_asian,vap_nhpi,vap_other,vap_two
0,17001001001,Adams County,773,9,724,10,0,2,0,1,27
1,17001002001,Adams County,647,6,616,1,2,3,0,0,19
2,17001003001,Adams County,562,8,536,2,0,1,0,2,13
3,17001003002,Adams County,666,6,636,2,1,4,0,1,16
4,17001004001,Adams County,136,2,132,0,0,0,0,1,1

In [59]:
df_pop['GEOID20'] = df_pop['BLOCKID'].str[:8]
cd_2018 = []
county = []
for geoid in IL_data['GEOID20']:
    if len(df_pop[df_pop['GEOID20'] == geoid[:8]]) == 0:
        cd_2018.append(0)
        county.append(0)
    else:
        cd_2018.append(df_pop[df_pop['GEOID20'] == geoid[:8]]['cd_2018'].iloc[0])
        county.append(df_pop[df_pop['GEOID20'] == geoid[:8]]['county'].iloc[0])

In [60]:
IL_data['cd_2018'] = cd_2018
IL_data['county_num'] = county
IL_data.head(10)

,GEOID20,county,vap,vap_hisp,vap_white,vap_black,vap_aian,vap_asian,vap_nhpi,vap_other,vap_two,cd_2018,county_num
0,17001001001,Adams County,773,9,724,10,0,2,0,1,27,18,001
1,17001002001,Adams County,647,6,616,1,2,3,0,0,19,0,0
2,17001003001,Adams County,562,8,536,2,0,1,0,2,13,0,0
3,17001003002,Adams County,666,6,636,2,1,4,0,1,16,0,0
4,17001004001,Adams County,136,2,132,0,0,0,0,1,1,0,0
5,17001005001,Adams County,564,4,541,0,0,0,0,2,17,0,0
6,17001006001,Adams County,471,4,446,2,0,0,0,1,18,0,0
7,17001007001,Adams County,453,8,435,2,0,0,0,0,8,0,0
8,17001007002,Adams County,633,2,613,0,0,0,0,3,15,0,0
9,17001008001,Adams County,394,6,376,0,0,0,0,2,10,0,0

In [61]:
metrics.calculate_all_metrics(IL_data, 'cd_2018', lclty_col='county_num')

SpecificationError: nested renamer is not supported

# Random Testing

In [51]:
df_pop[df_pop['GEOID20'] == '17001023016'[:8]]['cd_2018']

Series([], Name: cd_2018, dtype: object)

In [53]:
df_pop['BLOCKID'].str[:8]

0         17001000
1         17001000
2         17001000
3         17001000
4         17001000
            ...
451549    17203030
451550    17203030
451551    17203030
451552    17203030
451553    17203030
Name: BLOCKID, Length: 451452, dtype: object